/* html { 
	margin-top: 0 !important; 

}

#wpadminbar, #admin-menu-wrapper {
	display: none;
}

.btn-admin-bar {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACEElEQVRIS52WjTEEQRCF30WACBABIuAi4CJABFwGRMBFgAi4CBCBuwicDIiA+ra6t3rb3I7VVVc1Oz/9+r3u6bmRhtmZpFNJD5Lu7eiJpDtJT5JmkhbR5WiA/0tJN7b/UxKOMYB2bDwP883UEACiJ9I+m0q6/S+DvwDAbCxpZawWNQbIgOboehUiezVpcHQkCfDtIN+mjcc1ACLaSJqchwT7Eg6RhmCizfsAiOw5HaB6iLZkgMDUmbBnVmNAhSCTs9g1fdclOlZaw7QGgKMXSYfmsbY/sm4qqnYAv1ygYwPYkkRe1lmsNM5NawAk7iJ4KyU4gkW2zK9qAN8pVK/zTjuwPaV7sqwBRHkcCxCSSVtgTJuAJXNuS0l7kiYZgM1cHoyEMSYyqCMXh2rWkTECUJJcFBwCxM3NzQtp+kBgRCG0VgKI60g0CRPxZn8Etl7GbKUXwbgxAIiUqLhQaMe360x5MubHJYs5iY5gBmtUiLloALxSiGg/1bk7/DIHnlRvC7V8NAA4fbPXqINuiaYfxWhJNvvJFQn1oiiCAQC1d3sGcyPz2oYJzvgmCL6RFKDr/EzmJMfKOAibkYHoYYixhmNyhNasEz1AbVIzDRgQFTXvXRMn/ubihKaFIQ2OWGfMGsxZ9z8Av2SKZVq66rmukQcGj8aMqgOs1DraMnVUpCA6osEJYyTIifen0y9jb5J/AJ3+gbjeOw0HAAAAAElFTkSuQmCC');
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #c8c8c8;
	border: 2px solid #b1b2b1;
	z-index: 12000;
} */
