/*
 * source-code-popin
 */
/*==============================*/
/*Compass & custom imports*/
/*==============================*/

// See http://compass-style.org
@import "compass";
@import "compass/support";
@import "compass/typography/vertical_rhythm";
@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";
@import "compass/css3/transition";
@import "compass/css3/inline-block";
@import "compass/css3/opacity";
@import "rgbapng";
 
.popin-source {
	position: fixed;
	left: 50%;
	top: 50%;
	max-height: 80%;
	width: 600px;
	max-width: 90%;
	overflow: auto;
	@include translate(-50%, -50%);
	padding: 20px;
	border: 5px solid black;
	background-color: white;
	@include box-shadow(0 0 50px 20px rgba(0,0,0,0.3));
	pre[class*="language-"] {
		margin-bottom: 0 !important;
	}
	.popin-source-close {
		position: absolute;
		right: 0;
		top: 0;
		background-color: black;
		color: white;
	}
	.popin-source-copy {
		position: absolute;
		left: 0;
		top: 0;
		background-color: black;
		color: white;
	}
	.copy-msg {
		position: absolute;
		left: 60px;
		top: 2px;
	}
}
.js-source-code {
	position: relative;
}
.btn-show-source {
	position: absolute;
	right: 0;
	top: 0;
	background-color: #63b2a6;
	width: 30px;
	height: 30px;
	text-indent: -50000px;
	overflow: hidden;
	&:before {
		content: "<!>";
		font-weight: bold;
		text-indent: 0;
		position: absolute;
		left: 50%;
		top: 50%;
		@include translate(-50%, -50%);
	}
}